.download-now {
    padding: 115px 0;
    @media (max-width: $small_view) {
        padding: 45px 0;
    }
}

.download-now-wrap {
    width: 90%;
    margin: auto;

    h2 {
        font-size: 30px;
        font-weight: $raleway_medium;
        text-align: center;

        @media (max-width: $medium_view) {
            font-size: 24px;
        }

        @media (max-width: $small_view) {
            font-size: 18px;
        }
    }

    
}

.download-now-desc {
    margin-top: 15px;

    p {
        font-size: 18px;
        font-weight: $raleway_bold;
        text-align: center;
        text-transform: uppercase;

        @media (max-width: $medium_view) {
            font-size: 14px;
        }

        @media (max-width: $small_view) {
            font-size: 13px;
        }
    }
}

.download-now-button {
    width: 370px;
    margin: 70px auto 0;

    button {
        line-height: 80px;
        background-color: $buttons_color;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: $raleway_black;
        color: #fff;
        width: 100%;

        &:active{
            background-color: #E71414;
        }

        @media (max-width: $medium_view) {
            font-size: 18px;
        }
    }

    @media (max-width: $medium_view) {
        width: 315px;
    }

    @media (max-width: $small_view) {
        width: 280px;
    }
}