.feature {
    padding: 120px 0;

    @media (max-width: $medium_view) {
        padding: 90px 0;
    }
    @media (max-width: $small_view) {
        padding: 40px 0;
    }
}

.feature-card-line {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;

    @media (max-width: $medium_view) {
        margin-top: 50px;
    }
    @media (max-width: $small_view) {
        flex-direction: column;
        margin-top: 40px;
    }
}

.feature-card-line:first-child {
    margin-top: 0;
}

.feature-card {
    width: 370px;
    margin-left: 10px;

    h3 {
        text-transform: uppercase;
        font-weight: $raleway_black;
        font-size: 24px;
        text-align: center;
        margin-top: 55px;

        @media (max-width: $medium_view) {
            font-size: 18px;
            margin-top: 40px;
        }
    }

    @media (max-width: $medium_view) {
        width: 315px;
    }
    @media (max-width: $small_view) {
        width: 275px;
        margin-top: 40px;
        margin-left: 0;
    }
}

.feature-card:first-child {
    margin-left: 0;
    @media (max-width: $small_view) {
        margin-top: 0px;
    }
}

.feature-card-icon {
    width: 80px;
    margin: auto;

    @media (max-width: $medium_view) {
        width: 60px;
    }
}

.feature-card-desc {
    P {
        font-size: 18px;
        margin-top: 40px;
        color: #6C7279;
        font-weight: $raleway_regular;
        text-align: center;

        @media (max-width: $medium_view) {
            font-size: 14px;
            margin-top: 20px;
        }
    }
}

.feature-icon {
    font-size: 80px;
    color: #FF4343;

    @media (max-width: $medium_view) {
        font-size: 60px;
    }
}