.feature-grid{
    padding: 120px 0;

    @media (max-width: $medium_view) {
        padding: 90px 0;
    }
    @media (max-width: $small_view) {
        padding: 40px 0;
    }
}

.feature-content {
    display: grid;
    row-gap: 90px;
    justify-items: center;

    grid-template-columns: repeat(3, minmax(350px, auto));

    @media (max-width: 1165px){
        grid-template-columns: 50% 50%;
    } 

    @media (max-width: $medium_view){
        grid-template-columns: repeat(3, minmax(315px, auto));
        row-gap: 50px;
    } 

    @media (max-width: 970px){
        grid-template-columns:50% 50%;
    } 

    @media (max-width: 665px){
        grid-template-columns: auto;
    } 

    @media (max-width: $small_view) {
        row-gap: 40px;
    }
}


.feature-card {
    width: 370px;

    &:hover{
        transform: translate(0, -10px);
        transition-duration: 0.5s;
    }

    h3 {
        text-transform: uppercase;
        font-weight: $raleway_black;
        font-size: 24px;
        text-align: center;
        margin-top: 50px;

        @media (max-width: $medium_view) {
            font-size: 18px;
            margin-top: 40px;
        }
    }

    @media (max-width: $medium_view) {
        width: 315px;
    }
    @media (max-width: 340px) {
        width: 275px;
    }
}

.feature-card-icon {
    width: 80px;
    margin: auto;

    @media (max-width: $medium_view) {
        width: 60px;
    }
}

.feature-card-desc {
    P {
        font-size: 18px;
        margin-top: 40px;
        color: #6C7279;
        font-weight: $raleway_regular;
        text-align: center;

        @media (max-width: $medium_view) {
            font-size: 14px;
            margin-top: 20px;
        }
    }
}

.feature-icon {
    font-size: 80px;
    color: #FF4343;

    @media (max-width: $medium_view) {
        font-size: 60px;
    }
}