.header {
    background-image: url('../img/bg/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 35px 0 120px;

    &::after {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(37, 43, 73, .8);
        z-index: 2;
    }

    @media (max-width: $small_view) {
        padding-bottom: 60px;
    }
}

.nav-bar {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    border-bottom: 1px solid #BABBC5;

    @media (max-width: $medium_view) {
        padding-bottom: 32px;
    }

    @media (max-width: $small_view) {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.nav {
    margin-left: 15px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        width: 134px;

        a {
            font-size: 13px;
            font-weight: $raleway_bold;
            color: $_header_text_color;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            @media (max-width: $medium_view) {
                font-size: 12px;
            }
        }

        @media (max-width: $medium_view) {
            width: 112px;
        }
    }

    @media (max-width: $medium_view) {}

    @media (max-width: $average_view) {
        display: none;
    }

    @media (max-width: $small_view) {
        display: none;
    }
}

.header-content {
    position: relative;
    z-index: 3;
    margin-top: 130px;

    h1 {
        font-size: 64px;
        color: $_header_text_color;
        text-transform: uppercase;
        text-align: center;
        font-weight: $raleway_black;

        @media (max-width: $medium_view) {
            font-size: 48px;
        }

        @media (max-width: $small_view) {
            font-size: 36px;
        }
    }

    @media (max-width: $medium_view) {
        margin-top: 160px;
    }

    @media (max-width: $small_view) {
        margin-top: 50px;
    }
}

.header-content-desc {
    margin-top: 32px;

    p {
        color: $_header_text_color;
        text-align: center;
        font-weight: $raleway_regular;
        font-size: 24px;

        @media (max-width: $medium_view) {
            font-size: 18px;
        }

        @media (max-width: $small_view) {
            font-size: 14px;
        }
    }

    @media (max-width: $medium_view) {
        margin-top: 61px;
    }

    @media (max-width: $small_view) {
        margin-top: 32px;
    }
}

.logo-active {
    text-transform: uppercase;
    font-weight: $raleway_black;
    font-size: 25px;
    color: #656980;

    @media (max-width: $small_view) {
        font-size: 15px;
    }
}

.logo-box {
    text-transform: uppercase;
    font-weight: $raleway_thin;
    font-size: 25px;
    color: #fff;

    @media (max-width: $small_view) {
        font-size: 15px;
    }
}

.nav-active {
    position: relative;

    a::after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(100% + 40px);
        width: 100%;
        height: 3px;
        background-color: #BABBC5;

        @media (max-width: $medium_view) {
            top: calc(100% + 38px);
        }
    }
}

.header-button {
    width: 370px;
    margin: 80px auto 0;

    button {
        width: 100%;
        text-align: center;
        line-height: 78px;
        font-size: 24px;
        font-weight: $raleway_black;
        color: $_header_text_color;
        background-color: $buttons_color;

        @media (max-width: $small_view) {
            line-height: 60px;
        }
    }

    @media (max-width: $medium_view) {
        margin-top: 90px;
        width: 314px;
    }

    @media (max-width: $small_view) {
        margin-top: 49px;
        width: 280px;
    }
}

.menu-icon {
    display: none;

    @media (max-width: $average_view) {
        display: block;
        color: $_header_text_color;
        font-size: 20px;
    }
}