    //imports
    @import './_cdn.scss';
    @import './_var.scss';
    @import './header.scss';
    @import './feature.scss';
    @import './team.scss';
    @import './testimonials.scss';
    @import './download_now.scss';
    @import './about_us.scss';
    @import './footer.scss';


    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
    }

    html {
        font-family: 'Raleway', 'Cardo', sans-serif;
    }

    button {
        cursor: pointer;
        border: none;
    }

    a {
        cursor: pointer;
    }

    .container {
        max-width: 1170px;
        padding: 0 15px;
        margin: auto;

        @media (max-width: $medium_view) {
            max-width: 984px;
            padding: 0 15px;
            margin: auto;
        }

        @media (max-width: $small_view) {
            max-width: 280px;
            margin: auto;
            padding: 0;
        }
    }

    .none-display {
        display: none;
    }

    .full-screen{
        height: 100vh;
    }

    .block-display{
        display: block;
    }

    .no-scroll{
        overflow-y: hidden;
    }